/// Colors
$color-primary-light: #80d671; // Light green
$color-primary: #54c47a; // Medium green
$color-primary-dark: #27b485; // Dark green
$color-primary-gradient: linear-gradient(
	to right bottom,
	$color-primary-light,
	$color-primary-dark
);
$color-primary-radial-gradient: radial-gradient(
	$color-primary-light,
	$color-primary-dark
);
$color-primary-gradient-transparent: linear-gradient(
	to right bottom,
	rgba($color-primary-light, 0.8),
	rgba($color-primary-dark, 0.8)
);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-secondary-gradient: linear-gradient(
	to right bottom,
	$color-secondary-light,
	$color-secondary-dark
);
$color-secondary-gradient-transparent: linear-gradient(
	to right bottom,
	rgba($color-secondary-light, 0.85),
	rgba($color-secondary-dark, 0.85)
);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-tertiary-gradient: linear-gradient(
	to right bottom,
	$color-tertiary-light,
	$color-tertiary-dark
);
$color-tertiary-gradient-transparent: linear-gradient(
	to right bottom,
	rgba($color-tertiary-light, 0.85),
	rgba($color-tertiary-dark, 0.85)
);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

/// Font
$default-font-size: 1.6rem;
$reduced-font-size: 1.2rem;

/// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;

/// Borders and Shadows
$border-radius-thin: 2px;
$border-radius-default: 3px;

$border-thin: 1px solid;
$border-default: 3px solid;
$border-thick: 5px solid;

$box-shadow-light: 0 0.5rem 2rem rgba($color-black, 0.2);
$box-shadow-regular: 0 1rem 2rem rgba($color-black, 0.2);
$box-shadow-bold: 0 1.5rem 4rem rgba($color-black, 0.15);
$box-shadow-heavy: 0 3rem 6rem rgba($color-black, 0.1);
