@use '../abstracts' as *;

.footer {
	color: $color-grey-light-1;
	background-color: $color-grey-dark-3;
	padding: 10rem 0;
	font-size: 1.4rem;

	&__logo-box {
		text-align: center;
	}

	&__logo {
		width: 15rem;
	}

	&__navigation {
		border-top: $border-thin $color-grey-dark-1;
		padding-top: 2rem;
		display: inline-block;
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: inherit;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all 0.2s;
		}

		&:hover,
		&:active {
			color: $color-primary;
			box-shadow: $box-shadow-regular;
			transform: rotate(5deg) scale(1.3);
		}
	}

	&__copyright {
		border-top: $border-thin $color-grey-dark-1;
		padding-top: 2rem;
		display: inline-block;
		width: 75%;
		float: right;
	}
}
