@use '../abstracts' as *;

.header {
	height: 95vh;
	background-image: $color-primary-gradient-transparent,
		url(../img/hero-small.jpg);
	background-size: cover;
	background-position: top;
	position: relative;

	/* NOTE To clip a polygon of the background image */
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
		background-image: $color-primary-gradient-transparent, url(../img/hero.jpg);
	}

	@include respond($tab-land) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		@include respond($phone) {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
			clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		}
	}

	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&__logo {
		height: 3.5rem;
	}

	&__text-box {
		@include absolute-centering;

		transform: translate(-50%, -40%);
		text-align: center;
	}
}
