/// Colors
$color-primary-light: #80d671; // Light green
$color-primary: #54c47a; // Medium green
$color-primary-dark: #27b485; // Dark green

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

/// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
