@use '../abstracts' as *;

.btn {
	&:link,
	&:visited {
		font-size: $default-font-size;
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.2s;
		position: relative;
	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: $box-shadow-regular;

		&::after {
			/* transform: scale(1.5); */
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: $box-shadow-light;
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark-1;

		&::after {
			background-color: $color-white;
		}
	}

	&--green {
		background-color: $color-primary;
		color: $color-white;

		&::after {
			background-color: $color-primary;
		}
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 3rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards; /* NOTE this makes the 'before' animation state the same as the animation start settings */
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: $border-bottom-thin $color-primary;
		padding: 0.3rem;
		transition: all 0.2s;
	}

	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: $box-shadow-regular;
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: $box-shadow-light;
		transform: translateY(0);
	}
}
