@use '../abstracts' as *;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // NOTE this defines what 1rem is
}

body {
	box-sizing: border-box;
}

a {
	&,
	&:link,
	&:visited {
		text-decoration: none;
	}

	&:active,
	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: $border-thin $color-secondary-dark;
	}
}
