@use '../abstracts' as *;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // NOTE this defines what 1rem is. 10px.

	@include respond($tab-land) {
		font-size: base-font-size(9px);
		@include respond($tab-port) {
			font-size: base-font-size(8px);
			@include respond($phone) {
				font-size: base-font-size(7px);
			}
		}
	}

	@include respond($big-desktop) {
		font-size: base-font-size(12px);
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include respond($tab-port) {
		padding: 0;
	}
}

a {
	&,
	&:link,
	&:visited {
		text-decoration: none;
	}

	&:active,
	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: $border-thin $color-secondary-dark;
	}
}
