@use '../abstracts' as *;

.section-about {
	background-color: $color-grey-light-1;
	padding: 25rem 0;
	margin-top: -20vh;
}

.section-features {
	padding: 20rem 0;

	background-image: $color-primary-gradient-transparent, url(../img/nat-4.jpg);

	background-size: cover;

	transform: skewY(-7deg);
	margin-top: -10rem;

	& > * {
		transform: skewY(7deg);
	}

	// clip-path: polygon(0 20vh, 100% 0, 100% 75vh, 0 100%);
	// margin-top: -25vh;
}

.section-tours {
	background-color: $color-grey-light-1;
	padding: 25rem 0 15rem 0;
	margin-top: -10rem;
}

.section-stories {
	position: relative;
	padding: 15rem 0;
}
